[mysqld]
#Fatal error: Please read "Security" section of the manual to find out how to run mysqld as root!
#user=root
#Slow query settings:
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0.1

#General query log
general_log=1
general_log_file=/var/log/mysql/general.log

#Binary log
log-bin=/var/log/mysql/mysql-bin
server-id=1